@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
/*sora font weight 400 and 700*/

body {
    position: relative;
    box-sizing: border-box;
    width: 99%;
    height: 100%;

    background-color: #FAFAF9;
}

.card {
    position: relative;    
    box-sizing: border-box;
    width: 370px;
    height: 390px;
    padding: 16px 16px 20px;
    margin: 18% auto;
    
    background-color: #FFF;
}

figure {
    position: relative;
    margin: 0 auto 16px;
}

img {
    width: 336px;
    height: 152px;
    margin-bottom: 16px;
}

figcaption {
    width: fit-content;
    padding-left: 10px;
    margin-top: 6px;
    margin-right: 16px;

    color: #883AE1;
    font-family: 'Sora', sans-serif;
    font-size: 0.625rem;
    font-weight: 700;

}

.title {
    display: block;
    margin-bottom: 6px;

    color: #20293A;
    font-family: 'Sora', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
}

.description {
    display: block;
    margin-bottom: 20px;

    color: #6C727F;
    font-family: 'Sora', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.credits {
    display: block;

    color: #6C727F;
    font-family: 'Sora', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}